<div>
    <h2>Messages</h2>
    <jhi-alert></jhi-alert>
    <button class="btn btn-primary" ui-sref="message.new" >
        <span class="glyphicon glyphicon-plus"></span>
        <span >
                        Create new Message
                    </span>
    </button>
    <br/>

    <div class="chat">
        <div class="chat-history">

            <div ng-repeat="message in vm.messages track by message.id">
                <div ng-if="(vm.idUserFrom.toString() === message.idUserFromId.toString()) && (vm.idUserTo.toString() === message.idUserToId.toString())">
                    <div class="message-data">
                        <span class="message-data-name"><i class="fa fa-circle you"></i> <strong>{{message.idUserFromLogin}}</strong> - {{message.date | date: 'medium'}}</span>
                    </div>
                    <div class="message you-message">
                        {{message.message}}
                    </div>
                </div>
                <div ng-if="(vm.idUserFrom.toString() === message.idUserToId.toString()) && (vm.idUserTo.toString() === message.idUserFromId.toString())">
                    <div class="message-data align-right">
                        <span class="message-data-name"><i class="fa fa-circle you"></i> <strong>{{message.idUserToLogin}}</strong> - {{message.date | date: 'medium'}}</span>
                    </div>
                    <div class="message me-message float-right">
                        {{message.message}}
                    </div>
                </div>

            </div>

        </div> <!-- end chat-history -->

    </div> <!-- end chat -->

    <form name="editForm" role="form" novalidate ng-submit="vm.save()">
        <div class="modal-body">
            <div class="form-group">
                <!--<input type="text" class="form-control" name="message" id="field_message"-->
                       <!--ng-model="vm.message.message"-->
                <!--/>-->
                <textarea class="form-control" name="message" id="field_message"
                          ng-model="vm.message.message" rows="4"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Send</span>
            </button>
        </div>
    </form>

</div>
